.rev{
    height:500px;
    width: auto;
    background-image: url("bg4.jpg");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: rgb(3, 3, 3);
    padding: 50px;
    padding-top: 50px;
}
.rev_txt{
    color: white;
    text-align: center;
    padding-top: 50px; 
    font-weight: bold; 
    font-size: xx-large;
}
.text{
    font-family: 'Special Elite', cursive;
}
.exc{
    font-family: 'Fugaz One', cursive;
}
* {
    box-sizing: border-box;
  }
  .heading {
    font-size: 25px;
    margin-right: 25px;
  }
  
  .fa {
    font-size: 25px;
  }
  
  .checked {
    color: orange;
  }
  
  /* Three column layout */
  .side {
    float: left;
    width: 15%;
    margin-top:10px;
  }
  
  .middle {
    margin-top:10px;
    float: left;
    width: 70%;
  }
  
  /* Place text to the right */
  .right {
    text-align: right;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The bar container */
  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
  }
  
  /* Individual bars */
  .bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
  .bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
  .bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
  .bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
  .bar-1 {width: 15%; height: 18px; background-color: #f44336;}
  
  /* Responsive layout - make the columns stack on top of each other instead of next to each other */
  @media (max-width: 400px) {
    .side, .middle {
      width: 100%;
    }
    .right {
      display: none;
    }
  }
  .rate-text{
      text-align: center;
      font-weight: bold;
      padding-bottom: 30px;
  }
  .rate{
      text-align: center;
      height: auto;
      width: auto;
      font-weight: bold;
     margin-top: 30px;
     font-family: 'Fugaz One', cursive;
  }
  

.transparent{
    background-color: rgba(0, 0, 0, 0);
    color: white;
}
.form-control::-webkit-input-placeholder{
    color: white;
    font-weight: bold;
}
.api{
    padding: 10px;
}
.btn-secondary{
    margin: 20px;
    text-align: center;
 }
.feed-back{
   background-image: url("bg5.jpg");
    text-align: center;
    padding: 50px;
    height: auto;
    width: auto;
    font-family: 'Special Elite', cursive;
    font-weight: bold;
    color: white;
    background-attachment: fixed;
    background-size: cover;
}
.feed-back-txt{
    font-family: 'Special Elite', cursive;
    font-weight: bold;
}

